.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1C2128;
    width: 100%;
    height: 60px;
}
.logo {
    color: white;
    margin-left: 40px;
    cursor: pointer;
}
.logo span {
    color: cyan;
}
.menu ul {
    display: flex;
}
.menu ul li {
    padding: 0 20px;
}
.menu ul li a {
    font-size: 23px;
    color: white;
    transition: 0.3s;
    font-weight: 600;
}
.menu ul li a:hover {
    color: cyan;
}